html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;

    /* font: inherit; */
    vertical-align: baseline;
    outline: none;
}

.submit-btn {
    -webkit-appearance: none;
}

a {
    text-decoration: none;
}

html {
    height: 101%;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


/* always display scrollbars */
body {

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: #000000;
}

.flex {
    display: flex;
}


.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    padding: 0 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.head__container {
    /* width: 100%; */
    display: flex;
    padding: 118px 10% 163px 10%;
    max-width: 1300px;
    max-width: 1920px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}


.preheader {
    width: 100%;
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.preheader p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}

.start {
    height: 100vh;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    background: url(/img/start_bg.png) no-repeat;
    background-size: cover;
}

.head_social {
    margin: 0 auto;
    max-width: 60%;
    display: flex;
    justify-content: space-evenly;
}


.head__container_right {
    display: flex;
    flex-direction: column;
    max-width: 580px;
}

.strat__slogan {
    text-align: center;
    max-width: 535px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    padding: 8px 51px;
    color: #434F70;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(100px);
    border-radius: 25px;
}

.start__slogan_text {
    margin-top: 50px;
    padding: 30px;
    background: rgba(67, 79, 112, 0.03);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 25px;
}

.start__slogan_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.start__slogan_text p:first-child {
    padding-bottom: 25px;
}

.start__slogan_text span {
    font-weight: 500;
}

.start_button {
    margin-left: auto;
    margin-top: 30px;

}

.start_button a {
    position: relative;
    background: #fff;
    padding: 8px 57px;
    font-weight: 400;
    font-size: 16px;
    color: #2D427D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(100px);

    border-radius: 18px;
    transition: all 1s;
}

.start_button a:hover {

    background: rgb(228, 218, 218);

}




/* Banner Section */
.banner__wrapper {
    display: flex;
    background: url(/img/banner_left.png) 0% 0% no-repeat, linear-gradient(89.98deg, #FFFFFF 46.81%, rgba(255, 255, 255, 0) 94.41%), #D9D9D9;
    border-radius: 50px;
    flex-direction: column;
    align-items: flex-end;
    min-height: 306px;
    margin: 100px 120px;
}

.banner__wrapper h2,
.banner__wrapper p {
    z-index: 2;
}

.banner__wrapper h2 {
    padding-top: 91px;
    padding-right: 57px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;

    text-align: right;
    color: #000000;
}

.banner__wrapper p {
    max-width: 542px;
    padding-right: 57px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    text-align: right;

    color: #000000;
}

/* Komu podoidet Section */
.who h2 {
    padding-left: 120px;
}

.who__wrapper {
    padding: 0px 92px;
    position: relative;
    padding-top: 52px;
    display: flex;
    justify-content: space-evenly;
}

.who__wrapper::after {
    bottom: 107px;
    content: "";
    position: absolute;
    height: 33px;
    background: #434F70;
    width: 100%;
    z-index: 1;
}

.who__wrapper_block {
    position: relative;
    z-index: 2;
    display: inline-flex;
    flex-direction: column;

    flex-basis: 30%;
    align-items: center;
    justify-content: center;

}

.who__wrapper_block h3 {
    padding-bottom: 26px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 12px;
    color: #000000;
}

.who__wrapper_block p {
    display: inline-flex;
    flex-direction: column;
    background: #fff;
    /* text-align: center; */
    min-height: 211px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 24px;
    color: #000000;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.who__wrapper_block span {
    max-width: 83%;
}

.who_down {
    margin-top: 35px;
    margin-bottom: 44px;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 12px;
    /* identical to box height, or 75% */

    text-align: center;

    color: #000000;
}

/* Callback section */
.callback {
    background: #F4F4F4;
}

.callback-wrapper {
    padding: 50px 120px;
}

.callback p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #2D427D;
}

/* Problems section */

.problems h2 {
    padding: 53px 0px 20px 120px;
}

.problems__subscr {
    padding: 0px 120px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
}

.problems__tesis:first-child {
    margin-top: 0;
}

.problems__tesis {
    margin-top: -56px;
    display: flex;
    position: relative;
}

.problems__tesis_img {
    width: 61px;
    padding: 43px;
    border-radius: 100%;
    background: #434F70;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    height: 61px;
}

.problems__tesis_p {
    margin-left: -70px;
    height: 55px;
    width: 313px;
    z-index: -1;
    /* bottom: 13px; */
    /* position: absolute; */
    padding: 15px 0px 18px 85px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 25px;
    /* left: 102px; */
    margin-top: 62px;
}

.space {
    padding: 50px 120px;
}

.problems__tesis_right {
    margin-left: auto;
    margin-right: -70px;
    height: 47px;
    width: 313px;
    z-index: -1;
    /* bottom: 13px; */
    /* position: absolute; */
    padding: 15px 0px 18px 85px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 25px;
    /* left: 102px; */
    margin-top: 73px;
}

.circle-image {
    z-index: 2;
    background: #434F70;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    width: 160px;
    height: 160px;
    align-items: center;
    justify-content: center;
}

/* What section */
h2 {
    padding-left: 120px;
    padding-bottom: 20px;

}

.what__wrapper {
    display: flex;
    padding: 0 120px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 35px;
}

.what__wrapper_block {
    margin-top: 96px;
    display: inline-flex;
    flex-direction: column;
    flex-basis: 32%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(100px);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.what__wrapper_block img {
    width: 130px;
}

.what__wrapper_block p {
    max-width: 82%;
    padding-top: 52px;
    padding-bottom: 66px;
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
}

/* Kurs programms section */
.courseprogramms {
    margin-top: 53px;
    position: relative;

}

.pb100 {
    padding-bottom: 58px;
}

.courseprogramms_block_right {
    position: relative;
    background: url(/img/bg_prog1.png) 0% 150% no-repeat;
}

.courseprogramms_block_left {
    margin-top: 63px;
    position: relative;
    background: url(/img/bg_prog2.png) 100% bottom no-repeat;
    margin-bottom: 50px;
}

.courseprogramms h3 {
    padding-right: 30px;
    text-align: right;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
}

.courseprogramms h4 {
    padding-left: 30px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
}

.courseprogramms_desc {
    padding: 24px 33px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    background: #FFFFFF;
    border: 3px solid #434F70;
    border-radius: 24px;
}

.courseprogramms_desc_left {
    padding: 24px 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    background: #FFFFFF;
    border: 3px solid #434F70;
    border-radius: 24px;
}

.courseprogramms_block {
    position: relative;
    margin-bottom: 17px;
    padding-right: 120px;
    width: 629px;
    margin-left: auto;
}

.courseprogramms_block_second {
    position: relative;
    margin-bottom: 17px;
    padding-left: 120px;
    width: 629px;

}

.courseprogramms_desc_left span {
    display: block;

}

.sapn_pb {
    padding-bottom: 30px;
}

.arrow1:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 110%;
    background: url(/img/prog_arrow1.svg) no-repeat;
    left: -33px;
    bottom: -139px;
}

.arrow2:after {
    content: "";
    position: absolute;
    width: 34px;
    height: 114%;
    background: url(/img/prog_arrow2.svg) no-repeat;
    left: 626px;
    bottom: -139px;
}

.arrow4:after {
    content: "";
    position: absolute;
    width: 38px;
    height: 320px;
    background: url(/img/prog_arrow4.svg) no-repeat;
    left: 85px;
    bottom: -226px;
}


.arrow5:after {
    content: "";
    position: absolute;
    width: 23px;
    height: 50px;
    background: url(/img/prog_arrow5.svg) no-repeat;
    left: 419px;
    bottom: -47px;
}

/* Format section */
.format_block {
    position: relative;
}

.format_block::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/img/format_bg.png) 28% 0% no-repeat;
}

.format_block_txt {
    position: relative;
    z-index: 2;
    margin-left: auto;
    padding: 64px 53px;
    max-width: 47%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(100px);
    border-radius: 25px;
}

.format_block p {
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
}

.format_block span {
    font-weight: 600;
}

.format_block_small {
    display: block;
    font-style: normal;
    font-weight: 200 !important;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
}

/* Preimushestva section */
.preim {
    margin-top: 50px;
    position: relative;
    background: url(/img/bg_preim.png) right center no-repeat;
    padding-left: 118px;
}

.preim_wrapper {
    padding-left: 120px;
}

.preim_wrapper_block h3 {
    display: inline-flex;
    width: 43%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
    text-align: right;
    margin-left: auto;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.preim_wrapper_block {
    margin-bottom: 35px;
}

.preim_wrapper_block_flex {
    display: flex;

    align-items: center;
}

.preim_wrapper_block_flex p {
    height: 100px;
    align-self: flex-start;
    margin-left: -115px;
    margin-top: 17px;
    width: 30%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 250px;
    padding: 30px 25px 10px 133px;
    z-index: 1;
}

/* Price section */
.price__block {
    padding-bottom: 30px;
}

.price__block_wrapper {
    max-width: 750px;
    display: flex;
    padding: 110px 0 260px 0;
    /* height: 1000px; */
    /* width: 1000px; */
    background: url(/img/rouble_left.svg), url(/img/rouble_top.svg), url(/img/rouble_right.svg), url(/img/rouble_bottom.svg);
    background-position: 263px 69px, 144px 233px, 550px 51px, 310px 241px;
    background-repeat: no-repeat;
    justify-content: center;
    margin: 0 auto;
}

.price__block_wrapper_txt {
    width: 422px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(9px);
    border-radius: 50px;
}

.price__block_wrapper_txt p {
    padding: 50px 35px;
    font-weight: 500;
    font-size: 40px;
    line-height: 30px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
}

.price__block_wrapper_txt span {
    margin-top: 17px;
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #434F70;
}

.price__block_btn {
    font-family: 'Montserrat', sans-serif;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    padding: 5px 23px;
    background: #434F70;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
    width: 300px;
    margin-top: 70px;
}

/* TryFree Section */
.tryfree__wrapper {
    margin-top: 30px;
    padding-left: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.tryfree_wrapper_product {
    display: flex;
    flex-direction: column;
}
.tryfree_wrapper_product_desc {
    width: 97%;
    border-radius: 16px;
    background: linear-gradient(359.5deg, rgba(255, 255, 255, 0.05) 48.62%, rgba(255, 255, 255, 0) 92.8%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding-bottom: 15px;
    margin-top: -20px;
    margin: -16px auto 0px auto;
}
.tryfree_wrapper_product_desc p {
    min-height: 40px;
    padding: 30px 0;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

text-align: center;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #000000;
}
.tryfree_wrapper_product_desc button {
    margin: 0 auto;
    width: 150px;
    /* padding: 10px 5px; */
    background: #434F70;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    outline: none;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    border: none;
    color: #FFFFFF;
    display: block;
}
/* Products Link section */
.products_link {
    padding: 36px 0;
    background: #F4F4F4;
}
.products_link_slogan {
    padding-left: 120px;
    padding-bottom: 29px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 30px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #000000;
}
.products_link_txt {
    padding-left: 120px;
    padding-bottom: 39px;
    font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 15px;
color: #000000;
}
.products_link_button {
    width: 300px;
    margin: 0 auto;
    background: #434F70;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    display: block;
    padding: 20px 0px;

}
/* Greetings section */
.greetings__bg {
    background: url(/img/bg_greetings.png) left top no-repeat;
    margin-bottom: 32px;
}
.greetings__wrapper {
    padding-bottom: 25px;
    padding-top: 191px;
    max-width: 53%;
    margin-left: auto;
    padding-right: 120px;
}
.greetings__wrapper_blue {
    position: relative;
    margin-bottom: 13px;
    padding: 15px 15px;
    background: #434F70;
border-radius: 24px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
text-align: right;
color: #FFFFFF;
}
.greetings__wrapper_gray {
    text-align: center;
    max-width: 33%;
    position: relative;
    margin-bottom: 13px;
    padding: 20px 15px;
    background: #D1CECE;
    border-radius: 24px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    /* text-align: right; */
    color: #434F70;
    margin-left: auto;
}
.tool-gray::before {
    content: '';
    position: absolute;
    right: -1px;
    bottom: -21px;
    border: 22px solid transparent;
    border-top: 22px solid #D1CECE;
    transform: rotate(77deg);
}
.tool-blue::before {
    content: '';
    position: absolute;
    left: -32px;
    bottom: -3px;
    border: 33px solid transparent;
    border-top: 29px solid #434F70;
    transform: rotate(148deg);
}
/* Products */
/*  
.products {
    height: 1000px;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    background: url(/img/products_bg.png) no-repeat right top, linear-gradient(#516580, #516580);
    background-size: cover;
}
*/
.grad_prod {
    top: -129px;
    filter: blur(16px);
    background: linear-gradient(#5e6f85, #516580de);
    height: 180px;
    z-index: 1;
    width: 100%;
    position: absolute;
    /* background: linear-gradient(#5e6e85, #51658005); */
    /* height: 12%; */
}

.products {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    background: linear-gradient(#5e6e85f5, #48648bd6), url(/img/products_bg.png) no-repeat right top;
    /* background-size: cover; */
}

.products_item img {
    object-fit: cover;
    width: 100%;
    filter: blur(2px);
}

.products h2 {
    position: relative;
    z-index: 2;
    padding-top: 18px;
    text-align: right;
    font-size: 39px;
    color: #ff914d;
}

.products__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
}

.products_item {
    position: relative;
    flex-basis: 27%;
    margin-bottom: 180px;
}

.product-name {
    height: 120px;
    padding-left: 15px;
    line-height: 125%;
    color: #fff;
    font-size: 25px;
}

.price {
    text-align: right;
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 40px;
    color: #ff914d;
}

.old-price {
    font-size: 25px;
    text-decoration: line-through;
    text-decoration-color: #ff914d;
    color: #fff;
}

.goods-more {
    padding: 5px 14px;
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.336);
    border-radius: 40px;
    font-size: 30px;
}

.products_item_wrapper {
    width: 100%;
    position: absolute;
    bottom: -94px;
    display: block;
    background: #021a3e66;
    /* margin-top: -45px; */
}

.products_item_wrapper span {
    margin-top: 10px;
    display: block;
}

/*  
.price__block {
    height: 78px;
    display: flex;
    align-items: center;
}
*/
/* Section bankrotstvo */
.bankrotstvo {
    position: relative;
    /* background: #516580; */
    background: linear-gradient(#5e6e85f5, #48648bd6), url(/img/products_bg.png) no-repeat right top;
    background-size: cover;
    padding: 0;
    /* max-width: 1300px; */

    padding: 0;
    max-width: 100%;
    margin: 0 auto;
}

.bankrotstvo h2 {
    text-align: right;
    padding-top: 50px;
    font-size: 90px;
    color: #ff914d;
    width: 100%;
    /* padding: 100px 0; */
    /* text-align: center; */
}

.bankrotstvo .subtitle {
    padding-top: 0;
    color: #fff;
    font-size: 45px;
    margin-right: auto;
    margin-top: 0;
}

.bankrotstvo h4 {
    padding: 15px 0;
    color: #fff;
    font-size: 45px;
    background: #3B4A5E;
    text-align: center;
    margin: 50px 0;
}

.about_descr_bankr {
    text-align: left;
    font-size: 40px;
    color: #fff;
}

.about_descr_bankr span {
    color: #ff914d;
}

.tac {
    text-align: center;
    line-height: 150%;
}

.tar {
    text-align: right;
}

.lh120 {
    line-height: 120%;
}

.pb30 {
    padding-bottom: 30px;
}

.mbt30 {
    margin: 30px 0;
}

.offer_price {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    display: inline-flex;
}

.offer_price-price {
    margin-right: 50px;
    font-size: 60px;
    color: #fff;
}

.offer_price-sum {
    margin-right: 50px;
    font-size: 60px;
    color: #ff914d;
}

.offer__button_buy {
    margin-left: auto;
    align-self: flex-end;
    height: 55px;
    color: #fff;
    display: flex;
    text-align: center;
    width: 200px;
    border-radius: 40px;
    font-size: 39px;
    padding: 0 33px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #ff914d;
}

.offer_price span {
    font-size: 30px;
    color: #fff;
    display: block;
}

.programm_tesis {
    margin-bottom: 45px;
    padding: 10px;
    border-radius: 33px;
    border: 3px solid #ff914d;
    color: #fff;
    font-size: 45px;
    text-indent: 0;
    text-transform: uppercase;
}



.bankrotstvo__block_left {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-end;
    padding-right: 40px;
}

.bankrotstvo__block span {
    color: #ff914d;
}

.bankrotstvo__img_main {
    max-width: 59%;
    /* margin-top: -56px; */
}

.bankrotstvo__block {
    display: flex;
}

.bankrotstvo__block_right {
    max-width: 40%;
    padding-top: 50px;
}

.bankrotstvo__block_right-buttons {
    padding-top: 50px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.start__button_buy {
    color: #fff;
    display: flex;
    text-align: center;
    width: 200px;
    border-radius: 40px;
    font-size: 39px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #ff914d;
}

.strat__button_programm {
    /* margin-left: 30px; */
    color: #fff;
    display: flex;
    text-align: center;
    width: 118px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 40px;
    font-size: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.bankrotstvo h3 {
    /* margin-top: -180px; */
    padding-top: 18px;
    text-align: right;
    font-size: 39px;
    color: #ff914d;
}

.products__wrapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}

.product-name1 {
    padding-top: 10px;
    max-width: 30%;
    height: 120px;
    padding-left: 15px;
    line-height: 125%;
    color: #fff;
    font-size: 25px;
}

.price1 {
    text-align: left;
    padding-top: 10px;
    padding-left: 14px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 40px;
    color: #ff914d;
}

.price__block1 {
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Sections questions */
.questions {
    padding-bottom: 100px;
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    background: url(/img/questions_bg.png) no-repeat, linear-gradient(#516580, #516580);
}

.questions h2 {
    padding-top: 18px;
    text-align: right;
    font-size: 39px;
    color: #ff914d;
}

.questions h3 {
    line-height: 120%;
    padding-top: 100px;
    text-align: right;
    font-size: 60px;
    color: #fff
}

.questions h3,
.footer-form,
.footer__social {
    padding-right: 40px;
}

.questions span {
    color: #ff914d;
    display: block;
}

.footer-form {
    padding-top: 50px;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

input {
    outline: none;
}

.input-form {
    background-color: #ffffffad;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 40px;
    border: none;
    border-top: none;
    border-right: none;
    border-left: none;
}


input::placeholder {
    padding-left: 15px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 116.28%;
    letter-spacing: 0.02em;
    color: #516580;
}

input {
    padding-left: 15px;
    color: #4e78b0;
}

input {
    outline: none;
}

input:focus,
textarea:focus,
select:focus {

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 116.28%;
    letter-spacing: 0.02em;
    color: #4e78b0;

}

.footer__social {
    margin-left: auto;
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.submit-btn {
    outline: none;
    border: none;
    color: #fff;
    display: flex;
    text-align: center;
    width: auto;
    border-radius: 40px;
    font-size: 39px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #ff914d;
}

.grad_foot {
    z-index: 1;
    width: 100%;
    position: absolute;
    background: linear-gradient(176deg, #516580, #ffffff00);
    height: 100%;
    /* top: -71px; */
}

.posr {
    z-index: 2;
    position: relative;
}

/* Modal products styles */
.modal-product {
    display: flex;
    justify-content: space-between;
    /* background: url(/img/goods/good1-bg.png) no-repeat; */
    background-size: cover;
    padding: 100px 40px;
}

.modal-product-left {
    flex-basis: 46%;
}

.modal-product-left img {
    object-fit: cover;
    width: 100%;

}


/* Tabs */




/* New tabs */
ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    font-size: 30px;
    background: none;
    /* color: #222; */
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    font-size: 30px;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.tab-content {
    font-family: 'IBM';
    font-size: 18px;
    line-height: 120%;
    display: none;
    padding: 15px;
}

.tab-content.current {

    display: inherit;
}

/* Modal */
.modal-product-right {
    margin-left: 30px;
    flex-basis: 55%;
    font-size: 24px;
    color: #fff;
}

.price-modal {
    max-width: 120px;
    text-align: left;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 50px;
    color: #ff914d;
}

.price-modal span {
    display: block;
    text-align: right;
}

#content-1 p,
#content-2 p {
    font-family: 'IBM';
    padding-top: 20px;
}

.close-modal1 {
    /* content: "X"; */
    font-size: 30px;
    width: 35px;
    height: 35px;
    background: #ffffff70;
    padding: 0;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-block {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.start__button_buy_modal {
    color: #fff;
    display: flex;
    text-align: center;
    width: 43%;
    border-radius: 40px;
    font-size: 24px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #ff914d;
}



.about {

    position: relative;
    max-width: 100%;
    margin: 0 auto;
    background: url(/img/about_bg.png) no-repeat right top, linear-gradient(#516580, #516580);
    background-size: cover;
}

.products {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    background: linear-gradient(#5e6e85f5, #48648bd6), url(/img/products_bg.png) no-repeat right top;
    background-size: cover;
}

.questions {
    padding-bottom: 100px;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    background: url(/img/questions_bg.png) no-repeat, linear-gradient(#516580, #516580);
    background-size: cover;
}

.grad_prod_start {
    filter: blur(12px);
    bottom: -17px;
    z-index: 1;
    width: 100%;
    position: absolute;
    background: linear-gradient(#556a80, #5c6d83);
    height: 12%;
}

.nth {
    position: relative;
    z-index: 2;
}

.footer__social img {
    width: 65%;
    object-fit: cover;
    background-size: 41%;
    /* width: 100%; */
}

.offer__button_buy1 {
    margin: 8px auto;
    align-self: flex-end;
    height: 55px;
    color: #fff;
    display: flex;
    text-align: center;
    width: 200px;
    border-radius: 40px;
    font-size: 39px;
    padding: 0 33px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: #ff914d;
    /* margin-bottom: 10px; */
}

.pb10 {
    padding-bottom: 10px;
}